@page "/Test"

@using SIS_Technology_InterviewProject.Data
@using DevExpress.Blazor.Grid
@inject ProductService ProductService

<h3>TestComponent</h3>

<h1>Products</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (productList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxChart Data="@productList">
        <DxChartTitle Text="Average Price by Category">
        </DxChartTitle>
        <DxChartCommonSeries NameField="@((Product p) => p.Category)"
                             ArgumentField="@((Product p) => p.Category)"
                             ValueField="@((Product p) => p.UnitPrice)"
                             SeriesType="ChartSeriesType.Bar"
                             SummaryMethod="Enumerable.Average">
        </DxChartCommonSeries>
        <DxChartLegend 
            Orientation="@Orientation.Horizontal"
            HorizontalAlignment="@HorizontalAlignment.Center"
            Position="RelativePosition.Outside"/>
    </DxChart>

    <DxPieChart Data="@productList">

    </DxPieChart>
}


